page-track {
        #Move1{
            position:absolute;
            left:30px;
            top:190px;
            z-index:100;
        }
        sebm-google-map{
            height:300px;
        }
}
